@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<div class="card-group">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-4 mb-4">
                <div class="card">
                    <img class="card-img-top" style="width:250px;height:260px" src="~/images/products/@item.ImgUrl" alt="" />
                    <div class="card-body">
                        <h5 class="card-title text-center">@item.Color</h5>
                        <hr />
                        <p class="card-text">نام لباس: <b>@item.Name</b><br />دسته بندی: <b>@item.Category.Name</b></p>
                        <small class="text-dark">@item.Description</small>
                    </div>
                    <div class="card-footer">
                        <b class="text-dark">@item.Price.ToString("#,000") تومان</b>
                        <a asp-area="Customer" asp-controller="Home" asp-action="ProductDetails" asp-route-productId="@item.Id" class="btn btn-primary float-end">نمایش جزئیات</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
